%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
%% -------------------------------------------------------------------
%%
%% Copyright (c) 2013-2017 Basho Technologies, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%% -------------------------------------------------------------------

{minimum_otp_vsn, "24.0"}.

{erl_opts, [
    debug_info,
    % no_auto_import,
    warn_export_vars,
    warn_keywords,
    % warn_missing_spec,
    warn_unused_import,
    warnings_as_errors
]}.

%% behaviors
{erl_first_files, ["src/synctree.erl"]}.

{edoc_opts, [
    preprocess,
    {dir, "edoc"}
]}.

% {eunit_opts, [verbose]}.

{cover_enabled, true}.

{dialyzer, [
%%    {plt_extra_apps, [
%%        mnesia
%%    ]},
    {warnings, [
        error_handling,
        unknown,
        unmatched_returns
    ]}
]}.

{xref_checks, [
    deprecated_function_calls,
    deprecated_functions,
    locals_not_used,
    undefined_function_calls,
    undefined_functions
]}.
{xref_ignores, [gen_fsm]}.

{profiles, [
    {gha, [
        {erl_opts, [
            {d, 'GITHUBEXCLUDE'}
        ]}
    ]},
    {check, [
        %% For running xref and dialyzer on tests.
        %% Both xref and dialyzer will report a bunch of warnings that aren't
        %% worth fixing at present.
        {dialyzer, [{plt_extra_apps, [eunit]}]},
        {erl_opts, [{d, 'TEST'}]},
        {src_dirs, [src, test]}
    ]},
    {test, [
        {plugins, [
            {eqc_rebar,
                {git, "https://github.com/Quviq/eqc-rebar",
                    {branch, "master"}}}
        ]}
    ]}
]}.
